<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>mapa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<div id='map' style='width: 100%; height: 100%;'></div>